.settings__setting {
  padding: 23px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:nth-child(3) {
  border: none;
}

.settings__setting i {
  margin-right: 25px;
  font-size: 22px;
}

.settings-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 23px;
}

.settings-lists {
  padding-top: 23px;
}

.settings__setting-detail {
  font-size: 17px;
  opacity: 0.7;
}
