.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__name {
  font-weight: 600;
  font-size: 22px;
  color: #2e363e;
}

.user-component__note {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__name--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-component__exclamation-mark {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-color: black;
  text-align: center;
  border-radius: 50%;
  border: 1.5px solid #f43;
  color: #f43;
  font-weight: 600;
}
